<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet/less" href="/style.less">
	<script src="/less.js"></script>
    <title>Ribbit MVC</title>
</head>
<body>
	<header>
		<div class="wrapper">
            @Html.ActionLink(" ", "Index", new { controller="home", action="index"}, new { style = "background: url('" + Url.Content("/gfx/logo.png") + "') no-repeat center right; height:40px;width:140px;text-indent: -9999px;display: block;margin: 0 15px 0 0;float: left;" })
			
			<span>Twitter Clone</span>
            @if (Security.IsAuthenticated)
            {
                <nav>
                    @Html.RouteLink("Followers","Followers")
                    @Html.RouteLink("Following", "Following")
                    @Html.RouteLink("Profiles", "Profiles")
                    @Html.RouteLink("Edit Profile", "ProfileDefault")
                </nav>
                using (var logoutForm = Html.BeginForm("Logout", "Account")) { 
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Logout"/>
                }
            }
            else 
            {
                var model = (Model as LoginSignupViewModel) ?? new LoginSignupViewModel();
                @Html.Partial("_LoginPartial",model)
            }
		</div>
	</header>
	<div id="content">
		<div class="wrapper">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="flash error">
                    @Html.ValidationSummary()
                </div>
            }
            
            @if (IsSectionDefined("RightPanel"))
            {
                <div class="panel right">
                    @RenderSection("RightPanel")
                </div>
            }
            
            @RenderBody()

			@if (IsSectionDefined("LeftPanel"))
            {
                <div class="panel left">
                    @RenderSection("LeftPanel")
                </div>
            }
		</div>
	</div>
	<footer>
		<div class="wrapper">
			Ribbit - A Twitter Clone Tutorial <b>Jadesoft S.R.L.</b>
		</div>
	</footer>
</body>
</html>
